<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 center-xs">
      <img src="assets/img/logo.svg" class="img-logo" alt="">
    </div>
  </div>
    <form [formGroup]="form">
      <div class="row center-xs middle-xs">
        <div class="col-xs-3">
          <mat-form-field appearance="outline">
            <mat-label>Nombre o ID del Pokémon</mat-label>
            <input matInput placeholder="Buscar Pokémon..." formControlName="pokemon">
          </mat-form-field>
        </div>
        <div class="col-xs-1">
          <button mat-raised-button color="primary" [disabled]="form.invalid"><mat-icon>search</mat-icon> Buscar</button>
        </div>
      </div>
    </form>
</div>