@import '../../../../assets/css/colors';
$height: 64px;

.single-row{
  height: $height;
  display: flex;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.color{
  background-color: $yellow;
  color: $colorblack;
}